<?xml version="1.0" encoding="utf-8" ?>
<packages>
  <package id="git" />
  <package id="poshgit" />
  <package id="postman" />
  <package id="7zip" />
  <package id="googlechrome" />
  <package id="nodejs" />
  <package id="visualstudiocode" />
  <package id="notepadplusplus" />
  <package id="rdcman" />
  <package id="azure-data-studio" />
  <package id="spotify" />
</packages>