<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="IIS-WebServerRole" source="windowsfeatures" />
    <package id="IIS-WebServer" source="windowsfeatures" />
    <package id="IIS-CommonHttpFeatures" source="windowsfeatures" />
    <package id="IIS-HttpErrors" source="windowsfeatures" />
    <package id="IIS-HttpRedirect" source="windowsfeatures" />
    <package id="IIS-ApplicationDevelopment" source="windowsfeatures" />
    <package id="IIS-NetFxExtensibility" source="windowsfeatures" />
    <package id="IIS-NetFxExtensibility45" source="windowsfeatures" />
    <package id="IIS-HealthAndDiagnostics" source="windowsfeatures" />
    <package id="IIS-HttpLogging" source="windowsfeatures" />
    <package id="IIS-LoggingLibraries" source="windowsfeatures" />
    <package id="IIS-RequestMonitor" source="windowsfeatures" />
    <package id="IIS-HttpTracing" source="windowsfeatures" />
    <package id="IIS-Security" source="windowsfeatures" />
    <package id="IIS-URLAuthorization" source="windowsfeatures" />
    <package id="IIS-RequestFiltering" source="windowsfeatures" />
    <package id="IIS-IPSecurity" source="windowsfeatures" />
    <package id="IIS-Performance" source="windowsfeatures" />
    <package id="IIS-HttpCompressionDynamic" source="windowsfeatures" />
    <package id="IIS-WebServerManagementTools" source="windowsfeatures" />
    <package id="IIS-ManagementScriptingTools" source="windowsfeatures" />
    <package id="IIS-Metabase" source="windowsfeatures" />
    <package id="IIS-CertProvider" source="windowsfeatures" />
    <package id="IIS-WindowsAuthentication" source="windowsfeatures" />
    <package id="IIS-DigestAuthentication" source="windowsfeatures" />
    <package id="IIS-ClientCertificateMappingAuthentication" source="windowsfeatures" />
    <package id="IIS-IISCertificateMappingAuthentication" source="windowsfeatures" />
    <package id="IIS-ODBCLogging" source="windowsfeatures" />
    <package id="IIS-StaticContent" source="windowsfeatures" />
    <package id="IIS-DefaultDocument" source="windowsfeatures" />
    <package id="IIS-DirectoryBrowsing" source="windowsfeatures" />
    <package id="IIS-WebDAV" source="windowsfeatures" />
    <package id="IIS-WebSockets" source="windowsfeatures" />
    <package id="IIS-ApplicationInit" source="windowsfeatures" />
    <package id="IIS-ASPNET" source="windowsfeatures" />
    <package id="IIS-ASPNET45" source="windowsfeatures" />
    <package id="IIS-ASP" source="windowsfeatures" />
    <package id="IIS-CGI" source="windowsfeatures" />
    <package id="IIS-ISAPIExtensions" source="windowsfeatures" />
    <package id="IIS-ISAPIFilter" source="windowsfeatures" />
    <package id="IIS-ServerSideIncludes" source="windowsfeatures" />
    <package id="IIS-CustomLogging" source="windowsfeatures" />
    <package id="IIS-BasicAuthentication" source="windowsfeatures" />
    <package id="IIS-HttpCompressionStatic" source="windowsfeatures" />
    <package id="IIS-ManagementConsole" source="windowsfeatures" />
    <package id="IIS-ManagementService" source="windowsfeatures" />
    <package id="IIS-WMICompatibility" source="windowsfeatures" />
  </packages>
</xml>